.line-numbers-wrapper {
  position: relative;
  padding-left: 0;
}
.line-numbers-wrapper > code { color: #bbb; }

.line-numbers-code {
  margin: 0;
  padding: 0;
  overflow: visible;
  position: absolute; top: 0px; left: 3.3rem; // You may have to adjust this
  z-index: 1;

  // App-specific anti-styles
  border: none;
}